<!DOCTYPE html>
<html>
  <head>
    <title>孙付荣个人网站</title>
    <link  href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!--HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--对IE8以下IE浏览器的样式的支持-->
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body>
  <!--<div id="content_header">-->

  <!--</div>-->
    <header class="home-template">

    </header>
  <nav id="nav">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <ul class="menu">
              <li role="presentation">
                首页
              </li>
              <li role="presentation">
                技术博文
              </li>
              <li role="presentation">
                生活日记
              </li>
              <li role="presentation">
                好文分享
              </li>
              <li role="presentation">
                精彩视频
              </li>
              <li role="presentation">
                酷炫图片
              </li>
              <li role="presentation">
                精美网页
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
    <div id="content_body">
    </div>
  <!--<div id="content_footer">-->
  <footer></footer>
  <!--</div>-->
  </body>
</html>
