#win_login{

    /*display:none;*/
    POSITION:absolute;
    z-index:999;

    left:50%;
    top:50%;
    width:800px;
    height:600px;
    margin-left:-300px;
    margin-top:-200px;
    border:1px solid #888;
    /*background-color:#edf;*/
    background-color: white;
    text-align:center;
}
#input_toolbar{
    height: 40px;
    width: 100%;
    background-color: gray;
    border: 1px solid black
}
#div_form{
    margin-top:20px;
   margin-left: 20px;
    margin-right: 20px;
}
#input_close{
    float: right;
    height: 20px;
    width: 50px;
    /*background-color: #761c19;*/
}
.form_label{
    margin-left: 0px;
    text-align:left;
    float: left;
}
#input_btn{
    background-color: green;
    width: 300px;
}